
<div class="container">
  <div class="language-content-container">
    <h4>Select language</h4>
    <mat-form-field appearance="fill" form>
      <mat-select [formControl]="culturesFormControl">
        <mat-option *ngFor="let culture of cultures" [value]="culture.value">
          {{ culture.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div id="google-optimize-culture-container"></div>
  </div>

  <button mat-raised-button color="primary" class="resource-center">Resource Center</button>
</div>

<router-outlet></router-outlet>
